{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% for category in categories %}
        {{ category.label|upper }}
        Plats :
        <ul>
        {% for p in category.plates %}
            <li>{{ p.label }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}